<div id="publication-<%= publication._id %>" class="card d-flex w-25" data-id="<%= publication._id %>">
  <div class="card-body d-flex flex-column">
    <b class="card-title"><%= publication.title %></b>
    <p class="card-text text-truncate" style="max-width: 200px"><%= publication.preview %></p>
    <div class="d-flex flex-column mt-auto" >
      <div class="d-flex gap-2 my-2">
        <i class="bi bi-alarm"></i>
        <p class="card-text"><%= publication.duration %> min read</p>
      </div>

      <div class="d-flex justify-content-between">
        <div class="d-flex gap-2">
          <i class="bi bi-calendar"></i>
          <p class="card-text"><%= publication.publishedDate %></p>
        </div>
    
        <div class="d-flex gap-4">
          <a href="publications/edit/<%= publication._id %>"><i class="bi bi-pencil"></i></a>
          <i class="pe-auto bi bi-trash3 deleteBtn text-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"></i>
        </div>
      </div>
    </div>

  </div>
</div>