<form id="<%= formId %>" action="<%= formAction %>" method="POST" class="d-flex flex-column gap-4 w-75">
  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Title</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-lightbulb-fill"></i></span>
        <input name="title" type="text" class="form-control" value="<%= publication?.title || '' %>">
      </div>
    </div>
  
    <div class="col-md-6">
      <label class="form-label">Published Date</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-calendar-date"></i></span>
        <input name="publishedDate" type="date" class="form-control" value="<%= publication?.publishedDate || '' %>">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label class="form-label">Link</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-link-45deg"></i></span>
        <input name="link" type="text" class="form-control" value="<%= publication?.link || '' %>">
      </div>
    </div>
  
    <div class="col-md-6">
      <label class="form-label">Duration</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="bi bi-hourglass-split"></i></span>
        <input name="duration" type="text" class="form-control" value="<%= publication?.duration || '' %>">
      </div>
    </div>
  </div>

  <div>
    <label class="form-label">Preview</label>
    
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-easel2"></i></span>
      <textarea class="form-control" aria-label="With textarea"><%= publication?.preview || '' %></textarea>
    </div>
  </div>

  <div class="d-flex gap-2">
    <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
  </div>
</form>
