<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head') %>
<body>
  <%- include('../partials/_navigation') %>

  <div class="p-4">
    <div id="alertContainer"></div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/cms">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Publication</li>
      </ol>
    </nav>

    <h3><%= publication.title %></h3>
    <a style="width: fit-content;" class="d-flex gap-1 link-offset-2 link-underline link-underline-opacity-100" href="<%= publication.link %>" target="_blank">
      <i class="bi bi-medium"></i>
      <p>Medium Article</p>
    </a>

    <p class="fst-italic">Last modified <%= publication.lastModified %></p>

    <%- include('./_publicationsForm', { 
      formAction: `/v1/publications/edit/${publication._id}`, 
      formId: 'editForm',
      publication 
    }) %>
  </div>

  <script src="/js/alert.js"></script>
  <script src="/js/validator.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const form = document.getElementById('editForm');
      document.getElementById('loadingIndicator').style.display = 'none'

      form.addEventListener('submit', async function(e) {
        e.preventDefault()
        
        let errorsMap = {}
        let fieldsMap = [
          { path: 'title' },
          { path: 'publishedDate' },
          { path: 'link' },
          { path: 'duration' },
          { path: 'preview' },
        ]

        const formData = new FormData(form)
        document.getElementById('loadingIndicator').style.display = 'block'

        try {
          const response = await axios({
            url: this.action,
            method: this.method,
            data: Object.fromEntries(formData),
          })
            
          if (response.data.success) {
            showAlert('success', response.data.message)
            errorsMap = []
          }
        } catch (err) {
          errorsMap = err.response.data.errors
          validator(errorsMap, fieldsMap)
          showAlert('danger', err.response.data.message)
        } finally {
          document.getElementById('loadingIndicator').style.display = 'none'
        }
      })
    })
  </script>
</body>
</html>