<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/_head') %>
</head>

<body>
  <%- include('./partials/_navigation') %>
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;" id="alertContainer"></div>

  <%- include('./projects/projects', { projects, userRole: user.role }) %>
  <%- include('./publications/publications', { publications, userRole: user.role }) %>
  <%- include('./travelImages/travelImages', { travelImages, userRole: user.role }) %>
  
  <script>
    document.getElementById('logoutBtn').addEventListener('click', function() {
      fetch('v1/auth/logout', {
        method: 'POST',
        credentials: 'include',
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.href = '/login'
        }
      })
    })
  </script>

</body>
</html>