<div class="p-2 p-lg-4 my-2">
  <div class="d-flex justify-content-between justify-content-md-start align-items-center gap-3">
    <h3>
      <a class="text-black" style="text-decoration: none;" data-bs-toggle="collapse" role="button" href="#projectsCollapse" aria-expanded="true" aria-controls="projectsCollapse">
        <i class="bi bi-caret-down-fill" id="projectCollapseIcon"></i>
      </a>
      Projects (<%- projects.length %>) 
      <% if (user.cacheToggles.projects) { %><span class="badge bg-warning text-dark fs-6 py-1 px-2">Cache Active</span><% } %>
    </h3>
    <% if (user.role === 'admin') { %>
      <a href="projects/add">
        <h5><i class="bi bi-plus-circle-fill"></i></h5>
      </a>
    <% } %>
  </div>
  
  <% if (projects.length == 0) { %>
    <div class="alert alert-light w-25" role="alert">
      There are no projects yet!
    </div>
    <% } else { %>
   
    <div class="container-fluid show" id="projectsCollapse">
      <div class="d-flex justify-content-between mb-2">
        <div class="btn-group my-1">
          <a href="/cms?status=all" class="btn btn-sm <%= currentStatus === 'all' ? 'btn-primary' : 'btn-outline-primary' %>">
            All Projects
          </a>
  
          <a href="/cms?status=active" class="btn btn-sm <%= currentStatus === 'active' ? 'btn-success' : 'btn-outline-success' %>">
            Active
          </a>
  
          <a href="/cms?status=inactive" class="btn btn-sm <%= currentStatus === 'inactive' ? 'btn-secondary' : 'btn-outline-secondary' %>">
            Inactive
          </a>
        </div>

        <% if (user.role === 'admin') { %>
          <div class="form-check form-switch my-1">
            <input class="form-check-input" type="checkbox" id="dragDropToggle" <%= user.preferences?.dragDropEnabled.projects !== false ? 'checked' : '' %>>
            <label class="form-check-label" for="dragDropToggle">
              <i class="bi bi-arrows-move me-1"></i> Reordering
            </label>
          </div>
        <% } %>
      </div>

      <div id="bulkActionsBar" class="alert alert-primary d-none d-flex justify-content-between align-items-center mb-3">
        <div>
          <i class="bi bi-check2-circle me-2"></i>
          <span id="selectedCount">0</span> project(s) selected
        </div>
    
        <div>
          <button id="unSelectAllBtn" class="btn btn-sm btn-outline-secondary me-2">
            <i class="bi bi-x-square"></i> Unselect All
          </button>

          <button id="selectAllBtn" class="btn btn-sm btn-outline-primary me-2">
            <i class="bi bi-check-all"></i> Select All
          </button>
          
          <button id="bulkDeleteBtn" class="btn btn-sm btn-danger"><i class="bi bi-trash3"></i> Delete Selected</button>
        </div>
      </div>

      <div class="wrapper row row-cols-1 row-cols-sm-2 row-cols-md-4" id="<%= user.role === 'admin' ? 'admin-items-container' : 'items-container' %>">
        <% projects.forEach(project => { %>
          <div class="mb-3" data-id="<%= project._id %>">
            <%- include('./project', { project, userRole: user.role }) %>
            <%- include('../partials/_deleteModal', { 
              data: {
                id: project._id, 
                deleteId: "projectDeleteBtn",
                publicId: project.public_id,
                }, 
                type: 'project' 
              }) %>
          </div>
        <% }) %>
      </div>
    </div>
  
  <% } %>
</div>

<script src="/js/alert.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const container = document.querySelector('.wrapper')
    const toggle = document.getElementById('dragDropToggle')
    const projectDivs = document.querySelectorAll('[data-id]')
    const bulkActionsBar = document.getElementById("bulkActionsBar")
    const selectedCountSpan = document.getElementById("selectedCount")
    const selectAllBtn = document.getElementById("selectAllBtn")
    const unSelectAllBtn = document.getElementById("unSelectAllBtn")
    const bulkDeleteBtn = document.getElementById("bulkDeleteBtn")

    const user = <%- JSON.stringify(user) %>
    let projectsToBeDeleted = []

    function updateBulkActionBar() {
      if (projectsToBeDeleted.length > 0) {
        bulkActionsBar.classList.remove("d-none")
        selectedCountSpan.textContent = projectsToBeDeleted.length
      } else {
        bulkActionsBar.classList.add("d-none")
      }
    }

    function updateCursor(toggle, projectDivs) {
      projectDivs.forEach(div => {
        if (toggle) {
          div.style.cursor = 'grab'
        } else {
          div.style.cursor = ''
        }
      })
    }

    updateCursor(user?.preferences.dragDropEnabled.projects, projectDivs)

    bulkDeleteBtn.addEventListener("click", async () => {
      const originalText = bulkDeleteBtn.innerHTML
      bulkDeleteBtn.disabled = true
      bulkDeleteBtn.innerHTML = `
        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
        Deleting...
      `

      try {
        const response = await api({
          url: '/v1/projects/many',
          method: 'DELETE',
          data: { projects: projectsToBeDeleted },
        })

        showAlert('success', `${projectsToBeDeleted.length} project(s) deleted successfully`);
        projectsToBeDeleted = []
        setTimeout(() => location.reload(), 1500)

      } catch (err) {
        const errorMessage = err.response?.data?.message || err.message || 'An unexpected error occurred';
        showAlert('danger', errorMessage)
      } finally {
        bulkDeleteBtn.disabled = false;
        bulkDeleteBtn.innerHTML = originalText
      }
    })

    unSelectAllBtn.addEventListener("click", () => {
      if (projectsToBeDeleted.length !== 0) {
        document.querySelectorAll(".project-checkbox").forEach(checkbox => {
          checkbox.checked = false
        })
        projectsToBeDeleted = []
        bulkActionsBar.classList.add("d-none")
      }
    })

    selectAllBtn.addEventListener("click", () => {
      projectsToBeDeleted = []
      document.querySelectorAll(".project-checkbox").forEach(checkbox => {
        checkbox.checked = true

        projectsToBeDeleted.push({
          id: checkbox.value,
          publicId: checkbox.getAttribute("data-public-id")
        })
      })
      selectedCountSpan.textContent = projectsToBeDeleted.length
    })

    document.querySelectorAll(".project-checkbox").forEach(checkbox => {
      checkbox.addEventListener("change", (e) => {
        const projectId = e.target.value
        const projectPublicId = checkbox.getAttribute("data-public-id")

        if (e.target.checked) {
          projectsToBeDeleted.push({
            id: projectId,
            publicId: projectPublicId
          })
        } else {
          projectsToBeDeleted = projectsToBeDeleted.filter(item => item.id !== projectId)
        }

        updateBulkActionBar()
      })
    })

    toggle.addEventListener('change', async (e) => {
      const enabled = e.target.checked

      try {
        const response = await api({
          url: '/v1/settings/reorder-toggle',
          method: 'PATCH',
          data: {
            type: 'projects',
            enabled: e.target.checked
          },
        })

        if (enabled) {
          container.id = 'admin-items-container'
          sortable.option('disabled', false)
        } else {
          container.id = 'items-container'
          sortable.option('disabled', true)
        }

        showAlert('success', response.message)
      } catch (err) {
        toggle.checked = !enabled
        showAlert('danger', err.response?.data?.message || 'Something went wrong. Please try again.')
      } finally {
        updateCursor(enabled, projectDivs)
      }
    })

    const sortable = new Sortable(container, {
      animation: 150,
      ghostClass: 'sortable-ghost', 
      disabled: !user.preferences.dragDropEnabled.projects,
      onEnd: async (evt) => {
        const order = Array.from(evt.from.children).map(child => child.dataset.id)
      
        try {
          if (evt.oldIndex !== evt.newIndex) {
            const response = await api({
              url: '/v1/projects/reorder',
              method: 'PATCH',
              data: order,
            })
        
            if (response.success) {
              showAlert('success', response.message)
            }
          }
        } catch (err) {
          showAlert('danger', err.response.data.message)
        }
      }
    })

    const deleteButtons = document.querySelectorAll("#projectDeleteBtn")
    const projectCollapseEl = document.getElementById('projectsCollapse')
    const projectCollapseIcon = document.getElementById('projectCollapseIcon')

    projectCollapseEl.addEventListener('hide.bs.collapse', () => {
      projectCollapseIcon.classList.remove('bi-caret-down-fill')
      projectCollapseIcon.classList.add('bi-caret-right-fill')
    })

    projectCollapseEl.addEventListener('show.bs.collapse', () => {
      projectCollapseIcon.classList.remove('bi-caret-right-fill')
      projectCollapseIcon.classList.add('bi-caret-down-fill')
    })

    deleteButtons.forEach(button => {
      button.addEventListener('click', async function(e) {
        const projectId = button.getAttribute("data-id")
        const publicId = button.getAttribute("data-public-id")

        try {
          const response = await api({
            url: `/v1/projects/${projectId}`,
            method: 'DELETE',
            data: { public_id: publicId }
          })
          
          showAlert('success', response.message)
          setTimeout(() => location.reload(), 1500)
        } catch (err) {
          showAlert('danger', "there was an error")
        }
      })
    })
  })
</script>